.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* NavBar Styling */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.0em;
}
.left-side {
  display: flex;
}
.right-side {
  display: flex;
  justify-content: space-between;
}

.nav-link-wrapper {
  margin-right: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.social-icon {
  padding-right: 30px;
  color: black
}

/*Portfolio styles*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
  position: relative;
  padding: 19px;
  cursor: pointer;
}
.portfolio-panels {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.resume-panel_home {
  background-image: url(./images/work-area.jpg);
}
.play-panel_home {
  background-image: url(./images/film-stock-photo.jpg);
}
.project-panel_home {
  background-image: url(./images/project-pic.jpg);
}
.img-text-wrapper {
  position: absolute;
  top: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width:100%;
}
.img-text-wrapper .subtitle {
  transition: 0.5s;
  color: transparent;
  font-size: 2.0em;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  margin-left: 15%;
}
.img-text-wrapper:hover .subtitle {
  color: white;
}
.img-darken {
  transition: 0.5s;
  filter: brightness(50%);
}

/* Project styles */
.project-panels-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #F3F5FF;
}
.project-panel-wrapper {
  position: relative;
  padding: 19px;
  cursor: pointer;
}
.project-panel {
  height: 500px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.project-panel-description {
  font-size: 2.0em; 
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0px 25px;
}
.image-gallery-slide {
  width: 100%;
  max-height: 450px;
}
.image-gallery-slide img {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.image-gallery-bullet {
  background: white !important;
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #48C9B0 !important;
}
.image-gallery-icon {
  color: #48C9B0 !important;
}

/*Gallery style*/
.play-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.play-item-wrapper {
  position: relative;
  padding: 19px;
  cursor: pointer;
}

.play-panels {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.music-panel_play {
  background-image: url(./images/music.jpg);
}

.cinema-panel_play {
  background-image: url(./images/cinema.jpg);
}

/*Cinema style*/
.music-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.music-item-wrapper {
  position: relative;
  padding: 19px;
}
.music-panels {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.music-panel_1 {
  background-image: url(./images/music-pics/trapsoul.jpeg);
}
.music-panel_2 {
  background-image: url(./images/music-pics/palette.jpg);
}
.music-panel_3 {
  background-image: url(./images/music-pics/boogie.jpg);
}
.music-panel_4 {
  background-image: url(./images/music-pics/tear.jpg);
}
.music-panel_5 {
  background-image: url(./images/music-pics/6lack.jpg);
}
.music-panel_6 {
  background-image: url(./images/music-pics/gkmc.jpg);
}
.music-panel_7 {
  background-image: url(./images/music-pics/color.jpg);
}
.music-panel_8 {
  background-image: url(./images/music-pics/case.jpg);
}
.music-panel_9 {
  background-image: url(./images/cinema-pics/parasite.jpg);
}
.music-panel_10 {
  background-image: url(./images/cinema-pics/creed.jpg);
}

/*Cinema style*/
.cinema-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cinema-item-wrapper {
  position: relative;
  padding: 19px;
}
.cinema-panels {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cinema-panel_1 {
  background-image: url(./images/cinema-pics/jurassicpark.jpg);
}
.cinema-panel_2 {
  background-image: url(./images/cinema-pics/goodwill.jpg);
}
.cinema-panel_3 {
  background-image: url(./images/cinema-pics/whisper.jpg);
}
.cinema-panel_4 {
  background-image: url(./images/cinema-pics/akira.jpg);
}
.cinema-panel_5 {
  background-image: url(./images/cinema-pics/burning.jpg);
}
.cinema-panel_6 {
  background-image: url(./images/cinema-pics/pursuit.jpg);
}
.cinema-panel_7 {
  background-image: url(./images/cinema-pics/silent.jpg);
}
.cinema-panel_8 {
  background-image: url(./images/cinema-pics/oceanwaves.jpg);
}
.cinema-panel_9 {
  background-image: url(./images/cinema-pics/parasite.jpg);
}
.cinema-panel_10 {
  background-image: url(./images/cinema-pics/creed.jpg);
}

/*About styles */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}
.aboutHeader {
  font-size: 1.5em; 
  font-family: 'Titillium Web', sans-serif;
  text-decoration: underline;
  padding-bottom: 15px;
}
.aboutBody {
  font-size: 1.0em; 
  font-family: 'Titillium Web', sans-serif;
}

/*Footer styles*/
footer {
  padding-top: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; 
  font-family: 'Titillium Web', sans-serif;
}
.footer-image {
  width: 10%;
}
